@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: lightblue;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.content-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
  font-family: "Pacifico", sans-serif;
}

.header .title {
  font-size: 44px;
}

.header .subtitle {
  font-size: 36px;
}

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player-input input {
  width: calc(100% - 26px);
  padding-left: 0.25em;
  font-size: 18px;
}

.player-input label {
  width: 24px;
  font-size: 22px;
}

.player-input + .player-input {
  margin-top: 0.5em;
}

@-webkit-keyframes btnToRight {
  0% {
    -webkit-transform: rotate(0.5turn) translateX(100%);
            transform: rotate(0.5turn) translateX(100%);
  }
  100% {
    -webkit-transform: rotate(0.5turn) translateX(0);
            transform: rotate(0.5turn) translateX(0);
  }
}

@keyframes btnToRight {
  0% {
    -webkit-transform: rotate(0.5turn) translateX(100%);
            transform: rotate(0.5turn) translateX(100%);
  }
  100% {
    -webkit-transform: rotate(0.5turn) translateX(0);
            transform: rotate(0.5turn) translateX(0);
  }
}

@-webkit-keyframes btnToLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes btnToLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.btn {
  overflow: hidden;
  position: relative;
  padding: 0.25em 0.75em;
  font-size: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  color: white;
  background-color: #e97400;
  border-radius: 3px;
  -webkit-transition: color linear 100ms;
  transition: color linear 100ms;
}

.btn::after {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.btn:hover {
  color: transparent;
}

.btn:hover::after {
  background-image: url("../images/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
  -webkit-animation-name: btnToRight;
          animation-name: btnToRight;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.btn--play:hover::after {
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

.btn--change-players:hover::after {
  -webkit-animation-name: btnToLeft;
          animation-name: btnToLeft;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

.status {
  font-size: 20px;
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 0.25em;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
}

.board button {
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 36px;
  color: white;
}

.board.is-active button {
  cursor: default;
}

.board.is-inactive button {
  cursor: pointer;
}
